body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

th{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

#logobar tr{
	background-color: #336699;
}

#logobar td {
	color: #000000;
	font-size: 12pt;
}

#logobar span{
	font-family: "Times New Roman", Times, serif;
	font-size: 24pt;
	font-style: italic;
}
	
td.navigation {
	background-color: #6699FF;
}

#logobar a:link{
	font-size: 9pt;
	color: #003333;
	text-decoration: none;
}

#logobar a:visited {
	font-size: 9pt;
	color: #003333;
	text-decoration: none;
}

#logobar a:focus {
	font-size: 9pt;
	color: #003333;
	text-decoration: underline;
}

#logobar a:hover {
	font-size: 9pt;
	color: #003333;
	text-decoration: underline;
}

#logobar a:activate {
	font-size: 9pt;
	color: #003333;
	text-decoration: underline;
}

#content h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333333;
	font-weight: normal;
}

#content h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
	font-weight: normal;
}

#content h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
	font-weight: normal;
}

#content p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #666666;
}

#content li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
}

td.newssidebarheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	background-color: #666666;
}

